# Auto detect text files and perform LF normalization
* text=auto

*.pdf binary
*.doc binary
*.docx binary
*.ppt binary
*.pptx binary
*.xls binary
*.xlsx binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
